@{
    ViewData["Title"] = "Platforms";
}

<div class="main-title">
    <div class="company-name">
        <h1>BIM Platforms</h1>
    </div>
    <div class="company-logo">
        <img src="https://filedn.com/lRoA3WDmn4KBdjoar1IOOOQ/CDN/_graphic/BIMfab%20LOGO.png" />
    </div>
</div>
<div class="version">
    <p>
        version 0.68 (die Seite nicht neu laden!)
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="table"
               data-toggle="table"
               data-click-to-select="true"
               data-sortable="true"
               data-search="true"
               data-group-by="true"
               data-group-by-field="name"
               data-cookie="true"
               data-cookie-id-table="platformCookID"
               data-show-refresh="false"
               data-show-toggle="true"
               data-show-fullscreen="true"
               data-show-columns="true"
               data-detail-view="true"
               data-detail-formatter="platformDetailFormatter"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-id-field="ID"
               data-page-list="[10, 25, 50, 100, all]"
               data-show-footer="true"
               data-show-print="true"
               data-locale="de-DE"
               data-url="@Url.Action("GetPlatformJson")"
               data-cache="true"
               data-filter-control="true"
               data-maintain-meta-data="true"
               data-show-search-clear-button="true"
               class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true">Status</th>
                    <th data-field="Name" data-filter-control="Input">Name</th>
                    <th data-field="Online" data-filter-control="select">Online</th>
                    <th data-field="VRAR" data-filter-control="select">VR/AR</th>
                    <th data-field="FM" data-filter-control="select">FM</th>
                    <th data-field="Import" data-filter-control="select">Import</th>
                    <th data-field="Kolaboration" data-filter-control="select">Kolaboration</th>
                    <th data-field="Ausschreibung" data-filter-control="select">Ausschreibung</th>

                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="~/dist/Platform.js" asp-append-version="true"></script>