@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h3>DMS@BIMfabrik</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-lg btn-block btn-outline-info">Platform</button>
        <button type="button" class="btn btn-lg btn-block btn-outline-info">UseCases</button>
        <button type="button" class="btn btn-lg btn-block btn-outline-info">Bauteiliste</button>
    </div>
</div>