<footer class="border-top footer text-muted">
    <div class="container">
        <strong>BIM</strong>fabrik GmbH | Michael-Maggi-Str. 18 | CH-8046 Zürich | <a href="https://bimfabrik.ch/">www.bimfabrik.ch</a> | +41 (0) 44 552 64 70 | <a href="mailto:info@bimfabrik.ch?Subject=Kontakt Usecases">info@bimfabrik.ch</a>
    </div>
</footer>