@{
    ViewData["Title"] = "eBKP-H";
}

<div class="main-title">
    <div class="company-logo d-none d-sm-block">
        <img src="https://filedn.com/lRoA3WDmn4KBdjoar1IOOOQ/CDN/_graphic/BIMfab%20LOGO.png" />
    </div>
    <div class="company-name">
        <h1>eBKP-H</h1>
    </div>
</div>
<div class="version">
    <h4>version 0.70</h4>
</div>
<div class="date">
    <h3>@DateTime.Today.ToShortDateString()</h3>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Hidden("GetEbkUrl", Url.Action("GetEbkJson"))
        <table id="table" class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true">Status</th>
                    <th data-field="Code" data-sortable="true">Code</th>
                    <th data-field="Hauptgruppe" data-filter-control="select">Hauptgruppe</th>
                    <th data-field="Elementgruppe" data-filter-control="select">Elementgruppe</th>
                    <th data-field="Element" data-filter-control="input">Element</th>
                    <th data-field="Teilelement" data-filter-control="input">Teilelement</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script src="~/dist/eBKP.js" asp-append-version="true"></script>
}
