.main-title {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 0.625rem;

    .company-name {
        flex-grow: 1;
        flex-basis: 100%;
        float: left;
    }

    .company-logo {
        flex-grow: 1;
        flex-basis: 100%;

        img {
            height: 4.6875rem;
            float: right;
        }
    }
}

.version {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 0.625rem;
}